// =============================================================================
// Cisco UI Kit Dark Theme
// -----------------------------------------------------------------------------

$dark-theme-1: #000000;
$dark-theme-2: #1d1e1f;
$dark-theme-3: #464446;
$dark-theme-4: #464647;
$dark-theme-5: #737474;
$dark-theme-6: #ffffff;

$base-accent-color: $cisco-blue;
$base-background-color: $dark-theme-2;
$alt-background-color: $dark-theme-2;
$base-font-color: $white;
$base-muted-color: $med-gray-2;

$base-alert-background-opacity: 0.1;
$base-tab-background-active: $dark-theme-3;
