// =============================================================================
// Cisco UI Kit Default Theme
// -----------------------------------------------------------------------------

// Hero Palette
$cisco-blue: #00bceb !default;
:root { --color-cisco-blue: #00bceb; }

$cisco-indigo: #005073 !default;
:root { --color-cisco-indigo: #005073; }

$cisco-green: #6ebe4a !default;
$cisco-logo: #1ba0d7 !default;

// Accent Palette
$accent-blue: #049fd9 !default;
$accent-orange: #fbab18 !default;
$accent-red: #e2231a !default;

// Secondary Palette
$dark-gray-1: #39393b !default;
$dark-gray-2: #58585b !default;
$med-gray-2: #9e9ea2 !default;
$white: #ffffff !default;
$light-blue: #f2fbfd !default;
$vibrant-blue: #017cad !default;
:root { --color-cisco-vibblue: #017cad; }

$blue: #004676 !default;
$green: #00bb00 !default;
$red: $accent-red !default;
$orange: $accent-orange !default;
$yellow: #efb73e !default;
$dark-gray: #555555 !default;
$gray: #888888 !default;
$light-gray: #e9e9e9 !default;
$off-white: #f9f9f9 !default;
$off-white-alt: #f6f6f6 !default;

$cisco-blue2: #0377A1 !default; // New link color
$cisco-blue3: #0E748E !default;
$cisco-blue4: $accent-blue !default; // Link hover color
$cisco-darkgreen: #487B32 !default; // For filenames and non link URLs
$med-blue: #34adde !default;
$black: #1a1a1a !default;
$soft-black: #0e1111 !default;
$dark-blue: #003C56 !default;
$indigo: $cisco-indigo !default;
$dark-gray-3: #626469 !default;
$dark-gray-4: #7f7f86 !default;
$med-gray-3: #b0b0b2 !default;
$med-gray-4: #b6b9bb !default;
$med-gray-5: #8e9299 !default; // CDC Footer background
$light-gray-1: #aeaeaf !default;
$light-gray-2: #c6c7ca !default;
$light-gray-3: #dfdfdf !default;
$light-gray-4: #f5f5f6 !default;
$light-gray-5: #f2f2f2 !default;
$light-gray-compliant: #74747B !default;
$light-gray-disabled: #d7d7d8 !default;
$pale-gray-1: #e8ebf1 !default;
$pale-gray-2: #f3f6f9 !default;

$status-blue: #64bbe3 !default; // e2f7fb
:root { --color-status-info: #64bbe3; }

$status-turq: #14a792 !default;
$status-green: #6cc04a !default;
:root { --color-status-success: #6cc04a; }

$status-red: $accent-red !default;
:root { --color-status-danger: #e2231a; }

$status-orange: $accent-orange !default;
:root { --color-status-warning: #fbab18; }

$status-yellow: #ffcc00 !default;

$default: $gray !default;
$primary: $cisco-blue !default;
$secondary: $cisco-blue !default;
$info: $status-blue !default;
$success: $cisco-green !default;
$danger: $status-red !default;
$warning: $status-orange !default;
$warning-alt: $status-yellow !default;

$base-colors: (
  default : $default,
  primary : $primary,
  secondary : $secondary,
  info : $info,
  success : $success,
  danger: $danger,
  warning : $warning,
  warning-alt : $warning-alt
);

$base-hover-color: rgba(0,0,0,0.05) !default;
$base-color-disabled: $dark-gray-3 !default;


// -----------------------------------------------------------------------------
// Background Colors

$base-background-color: $light-gray-4 !default;
$alt-background-color: $white !default;


// -----------------------------------------------------------------------------
// Text Colors

$header-font-color: $dark-gray-2 !default;
$base-font-color: $dark-gray-2 !default;
$base-form-label-color: $base-font-color !default;
$base-muted-color: $med-gray-2 !default;
$base-disabled-color: $light-gray-2 !default;
$base-disabled-background: $light-gray-5 !default;
$base-accent-color: $vibrant-blue !default;

$base-link-color: #007493 !default;
$base-link-color-pressed: #6f53bc !default;     // From Dave Ngo cisco.com
$hover-link-color: #005073 !default;            // From Dave Ngo cisco.com
$base-link-color-invert: $white !default;


// -----------------------------------------------------------------------------
// Base: Borders and Outlines

$base-border-color: $light-gray-3 !default;
$base-border-color-alt: $white !default;
$base-border: 1px solid $base-border-color !default;
$base-border-alt: 1px solid $base-border-color-alt !default;
$base-border-radius: 2px !default;
$base-box-shadow: 0 10px 24px -6px rgba(0, 0, 0, 0.25) !default;
$base-box-shadow-small: 0 5px 24px -6px rgba(0, 0, 0, 0.25) !default;
$base-box-shadow-medium: $base-box-shadow !default;
$base-box-shadow-large: 0 20px 20px rgba(0,0,0,.05), 0 10px 12px rgba(0,0,0,.10) !default;
$base-outline: 3px solid $base-accent-color !default;
