<div class="sidebar sidebar--indigo" >
    <div class="sidebar__header">
        <div class="sidebar__header-title">EES Menu</div>
    </div>
    <ul>
        <li class="sidebar__item" id="tab1"><a href="/collector/display/">Departments</a></li>
        <li class="sidebar__item" id="tab2"><a href="/telemetery/telemetery/">Building Layout</a></li>
        <li class="sidebar__item" id="tab3"><a href="/telemetery/telemetery/">User Floor Plan</a></li>
        <li class="sidebar__item" id="tab4"><a href="/eveadmin/result/">Download Config</a></li>

    </ul>
</div>